<div class="filter-broadcast-buttons">
  <h3 ng-if="c.data.title">{{c.data.title}}</h3>
  
  <!-- Grouped filter structure -->
  <div ng-if="c.data.isGrouped">
    <div ng-repeat="group in c.data.filterGroups" class="filter-group">
      <h4 class="filter-group-title">{{group.name}}</h4>
      <div class="btn-group" role="group" aria-label="{{group.name}} filter buttons">
        <button 
          type="button" 
          class="btn btn-default"
          ng-if="!filterInfo.isTextInput"
          ng-repeat="(filter, filterInfo) in group.filters"
          ng-click="c.applyFilter(filter, filterInfo.label, group.name)"
          ng-class="{'btn-primary': c.isFilterActive(filter, group.name), 'btn-default': !c.isFilterActive(filter, group.name)}">
          {{filterInfo.label}}
        </button>
        <div 
          class="text-input-filter"
          ng-if="filterInfo.isTextInput"
          ng-repeat="(filter, filterInfo) in group.filters">
          <label for="text-input-{{group.name}}-{{filter}}">{{filterInfo.label}}</label>
          <input 
            type="text" 
            id="text-input-{{group.name}}-{{filter}}"
            class="form-control"
            ng-model="c.textInputValues[group.name][filter]"
            ng-change="c.onTextInputChange(filter, group.name)"
            placeholder="Enter value...">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Flat filter structure (backward compatibility) -->
  <div ng-if="!c.data.isGrouped" class="btn-group" role="group" aria-label="Filter buttons">
    <button 
      type="button" 
      class="btn btn-default"
      ng-if="!filterInfo.isTextInput"
      ng-repeat="(filter, filterInfo) in c.data.filters"
      ng-click="c.applyFilter(filter, filterInfo.label)"
      ng-class="{'btn-primary': c.isFilterActive(filter), 'btn-default': !c.isFilterActive(filter)}">
      {{filterInfo.label}}
    </button>
    <div 
      class="text-input-filter"
      ng-if="filterInfo.isTextInput"
      ng-repeat="(filter, filterInfo) in c.data.filters">
      <label for="text-input-default-{{filter}}">{{filterInfo.label}}</label>
      <input 
        type="text" 
        id="text-input-default-{{filter}}"
        class="form-control"
        ng-model="c.textInputValues['default'][filter]"
        ng-change="c.onTextInputChange(filter, 'default')"
        placeholder="Enter value...">
    </div>
  </div>
  
  <!-- Clear button -->
  <div class="clear-button-container">
    <button 
      type="button" 
      class="btn btn-default"
      ng-if="c.options.show_clear_button"
      ng-click="c.clearFilter()"
      ng-class="{'btn-warning': c.hasActiveFilters()}">
      Clear Filter
    </button>
  </div>
</div>
