<div class="filter-broadcast-buttons">
  <h3 ng-if="c.data.title">{{c.data.title}}</h3>
  <div class="btn-group" role="group" aria-label="Filter buttons">
    <button 
      type="button" 
      class="btn btn-default"
      ng-repeat="(filter, label) in c.data.filters"
      ng-click="c.applyFilter(filter, label)"
      ng-class="{'btn-primary': c.isFilterActive(filter), 'btn-default': !c.isFilterActive(filter)}">
      {{label}}
    </button>
    <button 
      type="button" 
      class="btn btn-default"
      ng-if="c.options.show_clear_button"
      ng-click="c.clearFilter()"
      ng-class="{'btn-warning': Object.keys(c.data.activeFilters).length > 0}">
      Clear Filter
    </button>
  </div>
</div>
